* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Outfit';
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 320px;
  display: block;
  overflow: hidden;
  padding: 16px 16px 0 16px;
}

.qr-img {
  max-width: 100%;
  border-radius: 10px;
}

.card-text {
  padding: 16px 32px 40px;
  text-align: center;
}

.text-title {
  color: #1f314f;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
}

.text-description {
  font-size: 15px;
  line-height: 140%;
  color: #68778d;
  margin-top: 16px;
  letter-spacing: 0.2;
}
